<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top: 50px;">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                              
                              <div class="form-group col-md-12">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                              </div>
                              <div class="form-group col-md-12">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                              </div>
                              <div class="form-group col-md-12">
                                <label>User Name</label>
                                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="User Name">
                              </div>
                              <div class="form-group col-md-12">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="email">
                              </div>
                              <div class="form-group col-md-12">
                                <label>Password </label>
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                              </div>
                              <div class="form-group col-md-12">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password ">
                              </div>
                              <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                          </form>
                          <div class="danger" style="color: red;">
                            {% for message in messages %}
                            <h3>{{message}}</h3>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>